# Assignment 1
**Aana Kakroo**

#### Task - 1

Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
# import the required libraries
import numpy as np
import pandas as pd

In [ ]:
# create a dataframe  named 'df' from a 4x4 numpy array of random numbers 
df = pd.DataFrame(np.random.randint(0,100,size=(4, 4)))
df

    0   1   2   3
0  64  37  77  94
1  47  93   6  82
2  39  61  40  27
3  38  12   5  48

#### Task - 2

Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
# column names of df before renaming
df.columns

RangeIndex(start=0, stop=4, step=1)

In [ ]:
# renaming the column names of df
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']

# column names of df after renaming
df.columns

Index(['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'], dtype='object')

#### Task - 3

Find the descriptive statistics of the 'df' dataframe

In [ ]:
# getting descriptive statistics of df
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        47.000000       50.750000       32.000000       62.750000
std         12.027746       34.548275       34.127213       30.782842
min         38.000000       12.000000        5.000000       27.000000
25%         38.750000       30.750000        5.750000       42.750000
50%         43.000000       49.000000       23.000000       65.000000
75%         51.250000       69.000000       49.250000       85.000000
max         64.000000       93.000000       77.000000       94.000000

#### Task - 4

Check for the null values in 'df' and find the data type of the columns

In [ ]:
# checking if each value in df is null
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
# checking all at once if there are any null values in df
df.isnull().values.any()

False

In [ ]:
# count the number of null values in df columns
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
# checking data type of columns of df
df.dtypes

Random value 1    int64
Random value 2    int64
Random value 3    int64
Random value 4    int64
dtype: object

#### Task - 5

Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
# displaying 'Random value 2' & 'Random value 3' columns with location method
df.loc[:, ['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0              37              77
1              93               6
2              61              40
3              12               5

In [ ]:
# displaying 'Random value 2' & 'Random value 3' columns with index location method
df.iloc[:,1:3]

   Random value 2  Random value 3
0              37              77
1              93               6
2              61              40
3              12               5